.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}
  
.child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  color: lavender;
  border-radius: 10px;
 
}

.childsidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1%;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  color: rgb(200, 167, 212); 
  background-color: #282c35; 
  border-radius: 10px;
 
}

body {
  background-color: rgb(85, 147, 168);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

a:link {
    color:rgb(31, 4, 41);
  }

  a:visited {
    color:rgb(31, 4, 41);
  }
  
  a:hover {
    color: rgb(54, 184, 97);
  }
  
  a:active {
    color: rgb(62, 156, 90);
  }
